body {
  display: flex;
  background-color: rgb(255, 253, 253);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}
